<%# Title %>
<% if local_assigns.has_key?(:title)%>
  <h1><%= title %></h1>
<% end %>
 <%# Errors %>
<%= render '/shared/errors', { obj: @article } %>

<%# Form content %>
<%= form_with(model: @article, local:true) do |f| %>
  <p> <%= f.label :title %> </p>
  <%= f.text_field :title %>
  <p>
    <%= f.label :description%>
  </p>
  <%= f.text_area :description%>
  <br/>
  <%= f.select :user_id, User.all.map{|c| [c.username, c.id]}, :prompt => "Select One" %>
  <br/>
  <%= f.submit %>
<% end%>